/* RESET + BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0b0e1c;
  --text-color: #ffffff;
  --text-light: #cccccc;
  --accent-color: #80A3FF;
  --card-bg: #151a2e;
  --shadow: rgba(0, 0, 0, 0.3);
}

[data-theme="light"] {
  --bg-color: #f2f4f8;
  --text-color: #1a1a1a;
  --card-bg: #ffffff;
  --accent-color: #3b5cff;
  --shadow: rgba(0, 0, 0, 0.08);
  
  --project-card-bg: #151a2e; 
}


body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  padding: 0 1rem;
  transition: background 0.3s, color 0.3s;
}


.title-header {
  color: var(--text-color);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 100%; 
  letter-spacing: 0.5px;
  padding-top: 10px;
}

/* GENERAL */
a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

button {
  font: inherit;
  background: var(--accent-color);
  color: #000;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #fff;
  color: var(--accent-color); 
}

/* NAVIGATION */
.nav-bar {
  width: 100%;
  background-color: var(--bg-color); /* Matches background in light mode */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 20px;
  transition: background 0.3s ease;
}

.nav-items li a {
  color: var(--text-color); /* Dark text in light mode */
  font-weight: 500;
  text-decoration: none;
}


.nav-items {
  list-style: none;
  display: flex;
  gap: 2rem;
}



/* Theme Toggle Container */
.theme-toggle {
  position: relative;
  width: 60px;
  height: 30px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider base */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('images/sun-background.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
  display: block;
}


/* Slider knob */
.slider::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 5px;
  top: 5px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.4s ease;
}

/* Checked state */
/* Checked state */
.theme-toggle input:checked + .slider {
  background: url('images/night-background.png');
  background-size: cover;
  background-position: center;
}

.theme-toggle input:checked + .slider::after {
  transform: translateX(30px);
  background: #f5c518;
}


/* HERO */
.hero {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
  max-width: 800px;
  height: 600px;
  margin: auto;
}

.hero .small-header {
  font-size: 0.9rem;
  color: var(--text-subtle);
  padding-top: 50px;
}

.hero h1 {
  font-size: 60px;
  margin: 1rem 0;
}

.purple-text {
  color: var(--accent-color);
}

.short-description {
  margin: 1rem 0 2rem;
  font-size: 1.1rem;
  color: var(--text-subtle);
}

.projects-link {
  display: inline-flex;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border-radius: 14px;
  border: 0.5px solid rgba(105, 113, 162, 0.40);
  background: linear-gradient(90deg, #161A31 3.4%, #06091F 100%);
}

.socials {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-shrink: 0;
}

.fab.fa-github{
  flex-shrink: 0;
  font-size: 25px;
}

.fab.fa-linkedin{
  flex-shrink: 0;
  font-size: 25px;
}

/* FEATURES CARDS*/
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.feature-card {
  position: relative;
  border-radius: 20px;
  background: var(--card-bg);
  padding: 2rem;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.feature-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3); /* DARK OVERLAY */;
  z-index: 0;
  border-radius: 20px;
}


[data-theme="light"] .feature-card::before {
  background-color: rgba(255, 255, 255, 0.1);
}

.feature-card h3,
.feature-card p {
  position: relative;
  z-index: 1;
  margin: 0;
}

.features.grid-layout {
  display: grid;
  grid-template-columns: 1.4fr 0.7fr 0.7fr;;
  grid-template-rows: auto auto;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}




.card-large {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card-half:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 1;
}

.card-half:nth-of-type(3) {
  grid-column: 3 / 4;
  grid-row: 1;
}

.card-full {
  grid-column: 2 / 4;
  grid-row: 2;
}

.card-title-left {
  font-size: 40px;
}

.card-text-left {
  color: rgba(255, 255, 255, 0.85);

}

.card-title-right {
  padding-top: 50px;
  font-size:20px;

}

.card-text-right {
  color: rgba(255, 255, 255, 0.85);

}
.card-title-right-stack {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  z-index: 2;
  position: relative;
  padding-bottom: 13px;
}


/* TECH STACK */
.tech-section {
  padding: 1rem;
  background-color: rgba(13, 1, 26, 0.884); 
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin-top: 0rem;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  padding-top: 90px;
  padding-bottom: 40px;
}

.tech-group {
  margin-bottom: 2rem;
}

.level {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  letter-spacing: 0.06em;
  color: #888;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tech-stack li {
  padding: 0.45rem 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
}

.tech-stack li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.level.intermediate { color: #4fc3f7; padding-bottom: 0.5rem; }
.level.basic { color: #81c784; padding-bottom: 0.5rem;}
.level.beginner { color: #f06292; padding-bottom: 0.5rem;}

/* MEDIA QUERY */
@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }
  .card-full {
    grid-column: span 1;
  }
}




/* PROJECTS */
.projects {
  max-width: 1100px;
  margin: auto;
  padding: 0rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 2rem;
}


.project-card {
  background: var(--project-card-bg); 
  padding: 1.8rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px var(--shadow);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
}




.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
}

.project-image {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.project-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--bg-color);
}

.project-card p {
  font-size: 0.95rem;
  color: #cfcfcf;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.tech-icons i {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #80a3ff;
}

.tech-icon {
  height: 15px;
  width: auto;
  margin-right: 0.4rem;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0.3px;
}


.project-link {
  color: #9abaff;
  font-size: 0.85rem;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.project-link i {
  font-size: 0.8rem;
}


/* EXPERIENCE */
.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto; 
}
@media (max-width: 768px) {
  .experience-grid {
    grid-template-columns: 1fr;
  }
}



.icon-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.experience-icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
}

.experience-card h3 {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  color: var(--text-color);
}

.experience-card p {
  margin: 0;
  font-size: 0.95rem;
  color: var(--text-subtle); 
}



/* FOOTER */
footer {
  text-align: center;
  padding: 2rem 1rem;
  color: #999;
  font-size: 0.85rem;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }

  .card-large,
  .card-small,
  .card-extra-large {
    grid-column: span 1 !important;
  }
}

html {
  scroll-behavior: smooth;
}
